@model PL.Models.PageViewModels.GenreSinglePageViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izmena zanra</h2>
<hr />


@if (Model.Success)
{
    using (Html.BeginForm("Edit", "Genre", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.GenreViewModel.GenreId)
            <label class="control-label col-md-2">Zanr:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.GenreViewModel.Genre, new { @class = "form-control" })
                @Html.ValidationMessage("GenreViewModel.Name");
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="submit" value="Potvrdi" />
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert-danger">
                <a href="#" class="close" data-dissmiss="alert" aria-label="close">&times;</a>
                <strong>Greska!</strong> @Model.Message
            </div>
        </div>
    </div>
}